.btn {
    background-color: $mainPurple;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: .5rem;
    padding: .5rem 1rem;

    @mixin atSmall {
        font-size: .7rem;
        padding: .5rem 1.5rem;
    }

    @mixin atMedium {
        font-size: .9rem;
        padding: .5rem 1.9rem;
    }

    @mixin atLarge {
        font-size: 1rem;
        padding: .75rem 2.2rem;
    }

    &--green {
        background-color: $mainGreen;
    }
}