.row {

    @mixin clearfix;

    &--t-padding {
        padding-top: 80px;
    }

    &--gutter {
        margin-right: -65px;
    }

    &--gutter-small {
        margin-right: -40px;
    }

    &--gutter-large {
        margin-right: -100px;
    }

    &--gutter > div {
        padding-right: 65px;
    }

    &--gutter-small > div {
        padding-right: 40px;
    }

    &--gutter-large > div {
        padding-right: 100px;
    }

    @mixin atMedium {
        
        &__medium-4 {
            float: left;
            width: 33.33%;
        }

        &__medium-4--larger {
            width: 40%;
        }
    
        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__medium-8 {
            float: left;
            width: 66.66%;
        }

        &__medium-8--smaller {
            width: 60%;
        }
    }

    @mixin atLarge {
        &__large-6 {
            float: left;
            width: 50%;
        }
    }
    
        &--equal-size-at-medium {
            @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
            flex: 1;
        }
    }


   
        &--equal-height-at-medium {
            @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }
  


}